@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-textbooknowbtn: white;
  --color-booknowbtn: #5A5E5A;
  --color-hoverbooknowbtn: #000000 ;
  --color-textmoreinfobtn: white;
  --color-moreinfobtn: #193531;
  --color-hovermoreinfobtn: #000000;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
 